body {
  padding: 20px;
}

h1 {
  border-bottom: 1px solid gray;
  margin-top: 0;
}

/* View: Phone list */
.phones {
  list-style: none;
}

.phones li {
  clear: both;
 /* min-height: 115px;*/
  padding-top: 15px;
}

.thumb {
  float: left;
  height: 100px;
  margin: -0.5em 1em 1.5em 0;
  padding-bottom: 1em;
  width: 100px;
}

/* View: Phone detail */
.phone {
  background-color: white;
  display: none;
  float: left;
  height: 400px;
  margin-bottom: 2em;
  margin-right: 3em;
  padding: 2em;
  width: 400px;
}

.phone:first-child {
  display: block;
}

.phone-images {
  background-color: white;
  float: left;
  height: 450px;
  overflow: hidden;
  position: relative;
  width: 450px;
}

.phone-thumbs {
  list-style: none;
  margin: 0;
}

.phone-thumbs img {
  height: 100px;
  padding: 1em;
  width: 100px;
}

.phone-thumbs li {
  background-color: white;
  border: 1px solid black;
  cursor: pointer;
  display: inline-block;
  margin: 1em;
}

.specs {
  clear: both;
  list-style: none;
  margin: 0;
  padding: 0;
}

.specs dt {
  font-weight: bold;
}

.specs > li {
  display: inline-block;
  vertical-align: top;
  width: 200px;
}

.specs > li > span {
  font-size: 1.2em;
  font-weight: bold;
}

/*MY STYLES*/
.glyphicon-shopping-cart {
  color: #3e3e7d;
  margin: 0 5px 0 0;
}
.btn-success .glyphicon-shopping-cart {
  color: white;
}
.glyphicon-plus, .glyphicon-minus {
  cursor: pointer;
}
.glyphicon-plus:hover {
  color: green;
}
.glyphicon-minus:hover {
  color: red;
}
.cart-img {
  width: 100px;
}
td.count {
  min-width: 50px;
  text-align: center;
}
.cart-table td {
  vertical-align: middle!important;
}
a.thumb img, td.count  {
  -webkit-user-select: none;
  -moz-user-select: none;
}

.thumbnail.phone-list-item {
  overflow: hidden;
}
.button-wrapper {
  text-align: center;
}
logout div {
  text-align: right;
}
.loginWrapper {
  position: fixed;
  height: 100%;
  display: table;
  width: 100%
}
.loginWrapper .alert-danger, login {
  position: fixed;
  top: 20px;
  left: 20px;
  right: 20px;
  z-index: 1;
}
.loginInner {
  display: table-cell;
  vertical-align: middle;
}
login {
  top: 0;
  left: 0;
  right: 0;
  bottom :0;
  z-index: 0;
  background: url("img/bg.jpg") no-repeat;
  background-size: cover;
}
